spacy==3.7.6
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.1
joblib==1.4.2
streamlit==1.38.0
requests==2.32.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
